# settings
.idea

# wordpress core
wordpress/wp-admin/
wordpress/wp-includes/
wordpress/*.php
wordpress/composer.json
wordpress/license.txt
wordpress/readme.html

# wordpress default plugins
wordpress/wp-content/index.php
wordpress/wp-content/plugins/index.php
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/plugins/akismet
# wordpress default themes
wordpress/wp-content/themes/index.php
wordpress/wp-content/themes/twentynineteen/
wordpress/wp-content/themes/twentyseventeen/
wordpress/wp-content/themes/twentysixteen/

# vendors
vendor
